<div id="main">
  <div id="tab3">

    <br/>
    <%= link_to image_tag("/images/back.gif", :border => "0", :size => "30x30", :alt => "Back to Recurring Transaction List"), 
      account_recurrings_path(@account) %>&nbsp
    <% if @recurring.transaction_type != "Budget" and @recurring.rbuckets.count == 0 %>
      <%= link_to image_tag("/images/delete2.gif", :border => "0", :size => "30x30", :alt => "Delete Recurring Transaction"), 
        [@account, @recurring], :confirm => 'Are you sure you want to delete this recurring transaction?', :method => :delete %>&nbsp
    <% end %>
    <%= render :partial => '/helppages/help_button_link' %>

    <div class="body">
      
      <h3>Account: <span class="head1"><%=h @account.name %></span></h3>
      <h2>Edit Recurring Transaction</h2>

      <%= error_messages_for :recurring %>

      <fieldset>

        <% form_for([@account, @recurring]) do |f| %>
          <p>
            <b>Transaction Name:</b><br />
            <%= f.text_field :name, :size => 40 %>
          </p>
          <% if @recurring.transaction_type != "Budget" %>
            <p>
              <b>Transaction Type:</b><br />
              <%= f.select :transaction_type, Recurring::TRANSACTION_TYPES, :prompt => 'Select Transaction Type' %>
            </p>
          <% end %>
          <p>
            <b>Amount:</b><br />
            <% if @recurring.transaction_type == "Budget" %>
              <%= f.text_field :amount, :size => 12, :value => @recurring.monthly_deposit_amount(@account) %>
            <% else %>
              <%= f.text_field :amount, :size => 12 %>
            <% end %>
          </p>
          <% if @recurring.transaction_type != "Budget" %>
            <p>
              <%= f.check_box :monthly %> <b>Monthly?</b>
            </p>
          <% end %>
          <p>
            <%= f.submit 'Update' %>
          </p>
        <% end %>
        
        <script language="JavaScript"> document.forms[0].recurring_name.select(); </script>
        <script language="JavaScript"> document.forms[0].recurring_name.focus(); </script>
      
      </fieldset>

    </div>
  
  </div>
</div>
