<div id="main">
  <div id="tab3">

    <br/>
    <%= link_to image_tag("/images/back.gif", :border => "0", :size => "30x30", :alt => "Back to Account List"), 
      user_accounts_path(current_user) %>&nbsp
    <%= link_to image_tag("/images/new.gif", :border => "0", :size => "30x30", :alt => "New Recurring Transaction"), 
      new_account_recurring_path(@account) %>&nbsp
    <%= render :partial => '/helppages/help_button_link' %>

    <div class="body">
      
      <h3>Account: <span class="head1"><%=h @account.name %></span></h3>
      <h2>Recurring Transaction List</h2>

      <% if @recurrings.count > 0 %>
        <div class="list1" style="width:731px">
          <table class="list" border="1" cellpadding="3">
            <tr class="header">
              <th class="name">Transaction Name</th>
              <th class="type">Type</th>
              <th class="currency">Amount</th>
              <th class="currency">Remaining</th>
              <th class="type">Mo?</th>
              <th colspan="3" width="80px">Action</th>
            </tr>
          </table>
        </div>
        <div class="list1" style="width:731px">
          <table class="list" border="1" cellpadding="3">
            <%= render :partial => 'recurring', :collection => @recurrings %>
          </table>
        </div>
        <br />
      <% else %>
        <p>No recurring transactions have been set up yet.</p>
      <% end %>

    </div>
  
  </div>
</div>
