<div id="main">
  <div id="tab3">

    <br/>
    <%= link_to image_tag("/images/back.gif", :border => "0", :size => "30x30", :alt => "Back to Recurring Transaction List"), 
      account_recurrings_path(@account) %>&nbsp
    <%= render :partial => '/helppages/help_button_link' %>

    <div class="body">
      
      <h3>Account: <span class="head1"><%=h @account.name %></span></h3>
      <h2>New Recurring Transaction</h2>

      <%= error_messages_for :recurring %>

      <fieldset>

        <% form_for([@account, @recurring]) do |f| %>
          <p>
            <b>Transaction Name:</b><br />
            <%= f.text_field :name, :size => 40 %>
          </p>
          <p>
            <b>Transaction Type:</b><br />
            <%= f.select :transaction_type, Recurring::TRANSACTION_TYPES, :prompt => 'Select Transaction Type' %>
          </p>
          <p>
            <b>Amount:</b><br />
            <%= f.text_field :amount, :size => 12 %>
          </p>
          <p>
            <%= f.check_box :monthly %> <b>Monthly?</b>
          </p>
          <p>
            <%= f.submit 'Create' %>
          </p>
        <% end %>
        
        <script language="JavaScript"> document.forms[0].recurring_name.focus(); </script>
      
      </fieldset>

    </div>
  
  </div>
</div>