<div id="main">
  <div id="tab5">

    <br/>
    <%= link_to image_tag("/images/back.gif", :border => "0", :size => "30x30", :alt => "Back to Recurring Allocation Bucket List"), 
      recurring_rbuckets_path(@recurring) %>&nbsp
    <%= link_to image_tag("/images/delete2.gif", :border => "0", :size => "30x30", :alt => "Delete Recurring Allocation Bucket"), 
      [@recurring, @rbucket], :confirm => 'Are you sure you want to delete this recurring allocation bucket?', :method => :delete %>&nbsp
    <%= render :partial => '/helppages/help_button_link' %>

    <div class="body">
      
      <h3>&nbsp&nbsp Account: <span class="head1"><%=h @account.name %></span><br/>
            Recurring: <span class="head2"><%=h @recurring.name %></span></h3>
      <h2>Edit Recurring Transaction Bucket</h2>

      <%= error_messages_for :rbucket %>

      <fieldset>

        <% form_for([@recurring, @rbucket]) do |f| %>
          <% abucket = @account.abuckets.find(@rbucket.abucket_id) %>
          <p>
            <b>Bucket Name: <br/>
            <span class="fieldvalue"><%= f.label abucket.name %></span></b>
          </p>
          <p>
            <b>Amount:</b><br />
            <%= f.text_field :amount, :size => 12 %>
          </p>
          <p>
            <%= f.submit 'Update' %>
          </p>
        <% end %>
        
        <script language="JavaScript"> document.forms[0].rbucket_amount.select(); </script>
        <script language="JavaScript"> document.forms[0].rbucket_amount.focus(); </script>
      
      </fieldset>
      
      <% if @rbuckets.count > 0 %>
        <% remaining = @recurring.amount - @recurring.rbuckets.find(:all).sum { |bucket| bucket.amount } %>
        <div style="color:gold">
          Remaining: <%= number_to_currency(remaining) %> 
        </div>
      <% end %>
      
    </div>
  
  </div>
</div>
