<p>
  <b>Abucket:</b>
  <%=h @tbucket.abucket_id %>
</p>

<p>
  <b>Tran:</b>
  <%=h @tbucket.tran_id %>
</p>

<p>
  <b>Damount:</b>
  <%=h @tbucket.damount %>
</p>

<p>
  <b>Wamount:</b>
  <%=h @tbucket.wamount %>
</p>


<%= link_to 'Edit', edit_tbucket_path(@tbucket) %> |
<%= link_to 'Back', tbuckets_path %>