<div id="main">
  <div id="tab2">
    
    <br/>
    <%= link_to image_tag("/images/back.gif", :border => "0", :size => "30x30", :alt => "Back to General Bucket List"), 
      user_buckets_path(current_user) %>&nbsp
    <%= link_to image_tag("/images/delete2.gif", :border => "0", :size => "30x30", :alt => "Delete General Bucket"), 
      [current_user, @bucket], :confirm => 'Are you sure you want to delete this general bucket?', :method => :delete %>&nbsp
    <%= render :partial => '/helppages/help_button_link' %>
    
    <div class="body">
      
      <h2>Edit General Bucket</h2>

      <%= error_messages_for :bucket %>
      
      <fieldset>

        <% form_for([current_user, @bucket]) do |f| %>
          <p>
            <b>Bucket Name:</b><br />
            <%= f.text_field :name, :size => 40 %>
          </p>
          <p>
            <%= f.submit 'Update' %>
          </p>
        <% end %>
        
        <script language="JavaScript"> document.forms[0].bucket_name.select(); </script>
        <script language="JavaScript"> document.forms[0].bucket_name.focus(); </script>
        
      </fieldset>

    </div>
  
  </div>
</div>