<div id="main">
  <div id="tab2">
    
    <br/>
    <%= link_to image_tag("/images/back.gif", :border => "0", :size => "30x30", :alt => "Back to General Bucket List"), 
      user_buckets_path(current_user) %>&nbsp
    <%= render :partial => '/helppages/help_button_link' %>
    
    <div class="body">
      
      <h2>New General Bucket</h2>

      <%= error_messages_for :bucket %>
      
      <fieldset>

        <% form_for([current_user, @bucket]) do |f| %>
          <p>
            <b>Bucket Name:</b><br />
            <%= f.text_field :name, :size => 40 %>
          </p>
          <p>
            <%= f.submit 'Create' %>
          </p>
        <% end %>
        
        <script language="JavaScript"> document.forms[0].bucket_name.focus(); </script>
      
      </fieldset>

    </div>
  
  </div>
</div>
