<% if history_transaction.description != 'Balance Forward' %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td class="date"><%=h history_transaction.tran_date.strftime("%m-%d-%Y") %></td>
    <% if history_transaction.doc_number != nil and history_transaction.doc_number != '' %>
      <td class="type"><%=h history_transaction.doc_number %></td>
    <% else %>
      <td class="type">&nbsp</td>
    <% end %>
    <td class="name"><%=h history_transaction.description %></td>
    <% if history_transaction.wamount != 0 and history_transaction.wamount != nil %>
      <td class="currency"><%= number_to_currency(history_transaction.wamount) %></td>
    <% else %>
      <td class="currency">&nbsp</th>
    <% end %>
    <% if history_transaction.damount != 0 and history_transaction.damount != nil %>
      <td class="currency"><%= number_to_currency(history_transaction.damount) %></td>
    <% else %>
      <td class="currency">&nbsp</td>
    <% end %>
    <td class="date"><%= check_box_tag "transactions[]", history_transaction.id %></td>
  </tr>
<% end %>
